<div class="container-fluid app">
  <div class="row header">
    <!--Header-->
    <app-header></app-header>
  </div>
  <div class="row main-content">
    <div class="col-12">
      <!-- Map -->
      <app-map [isSidebarCollapsed]="isSidebarCollapsed"></app-map>
    </div>
    <!-- Sidebar stuff -->
    <div class="col-auto sidebar-container">
      <!-- Sidebar toggle button -->
      <div class="sidebar-toggle" [@toggleAnimation]="isSidebarCollapsed ? 'collapsed' : 'expanded'">
        <i id="toggle" [ngClass]="{ 'bi bi-caret-right-fill': !isSidebarCollapsed, 'bi bi-caret-left-fill': isSidebarCollapsed }" (click)="toggleSidebar(-1)"></i>
      </div>
      <!-- Sidebar -->
      <div class="sidebar position-fixed end-0"> 
        <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed"></app-sidebar>
      </div>
    </div>
  </div>
</div>