@import "../styles.scss";

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        height: 70px;
    }

    .main-content {
        flex: 1;
        display: flex;

        .sidebar {
            height: calc(100vh - 70px) // Subtract height of header
        }
    }
}