@import "../styles.scss";

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        height: $header-height;
    }

    .main-content {
        flex: 1;
        display: flex;

        .sidebar-container {
            position: relative;
            height: calc(100vh - $header-height);

            .sidebar-toggle {
                color: $white;
                right: 25px;
                position: absolute;
                height: 100%; 
                display: flex; 
                align-items: center; 
                top: 0;
                z-index: 1;

                .btn-toggle-disabled {
                    opacity: 0.5;
                    color: $white;
                    cursor: auto;

                    &:focus {
                        border: none;
                    }
                }

                .btn-toggle, btn-toggle:focus {
                    color: $white;
                    border: 0.5px solid $white;
                    
                    &:hover {
                        border: 0.5px solid $brand;
                        color: $brand;
                        animation: pulse 2s infinite;
                    }
                }
            
                @keyframes pulse {
                    0% {
                        transform: scale(1);
                    }
            
                    50% {
                        transform: scale(1.1);
                    }
            
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}