@import "../../../styles.scss";
.weatherWidgetColumn{
    display:inline-block;
    margin:0 auto;
    width: fit-content;
}

.weatherWidgetRow{
    display:block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    font-size: 30px;
    size: 30px;
    margin-top: 10px;
    color: $sun;
    filter: drop-shadow( 1px 1px 10px $sun);
}

.moon{
    font-size: 20px;
    size: 20px;
    margin-top: 10px;
    color: $moon;
    filter: drop-shadow( 1px 1px 10px $moon);
}

.cloud{
    font-size: 25px;
    size: 25px;
    margin-top: 10px;
    color: $clouds;
    filter: drop-shadow( 1px 1px 10px $clouds);
}

.cloud-bolt{
    font-size: 25px;
    size: 25px;
    margin-top: 10px;
    color: $clouds;
    filter: drop-shadow( 1px 1px 10px $clouds);
}

.cloud-rain{
    font-size: 25px;
    size: 25px;
    margin-top: 10px;
    color: $clouds;
    filter: drop-shadow( 1px 1px 10px $clouds);
}

.cloud-showers-heavy{
    font-size: 25px;
    size: 25px;
    margin-top: 10px;
    color: $clouds;
    filter: drop-shadow( 1px 1px 10px $clouds);
}

.snowflake{
    font-size: 25px;
    size: 25px;
    margin-top: 10px;
    color: $snowflake;
    filter: drop-shadow( 1px 1px 10px $snowflake);
}