@import "../../../styles.scss";
.main-content {
    border-top: none;
    border-bottom: none;
    
    .sidebar-header {
        background-color: $brand;
        border-bottom: solid $silver;
        color: $white;
    }

    .btn-save {
        width: 90%;
        background-color: $good-button-green;
        color: $white
    }

    .btn-save-disabled {
        width: 90%;
        background-color: $good-button-green;
        color: $white;
        opacity: $opacity-disabled;
    }

    .btn-delete {
        width: 90%;
        background-color: $mean-button-red;
        color: $white
    }

    .btn-delete-disabled {
        width: 90%;
        background-color: $mean-button-red;
        color: $white;
        opacity: $opacity-disabled;
    }

    .file-drop {
        width: 100%;
        border: dashed $blue-grey;
        border-radius: 10px;

        .file-dropzone {
            border: solid green;
            padding: 10px;
        }

        .btn-browse {
            background-color: $brand;
        }
    }

    .uploaded-image {
        border: 0.75px solid $black;
    }

    .btn-clear-image {
        background-color: $mean-button-red;
        color: $white;
        margin-top: 5px;
        margin-right: 5px;
    }
}

.icon-saved {
    color: $good-button-green;
}

.icon-fail {
    color: $mean-button-red;
}

.btn-warning-easter-egg {
    background-color: transparent;
    border: none;
    cursor: auto;

    .icon-warn {
        color: $somewhat-okay-button-yellow;
    }
}

.btn-confirm-delete {
    width: 40%;
    background-color: $mean-button-red;
    color: $white;

    &:focus {
        background-color: $mean-button-red;
        color: $white;
    }
}

.btn-close-modal {
    background-color: $blue-grey;
    color: $white;
    width: 40%;

    &:focus {
        background-color: $blue-grey;
        color: $white;
    }
}

.easter-egg {
    position: fixed;
    left: 0;
    animation: slideRight 5s linear forwards; 
    z-index: 10;
    top: 42%;

    @keyframes slideRight {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(105vw);
        }
    }
}