@import "../../../styles.scss";
.main-content {
    border-top: none;
    border-bottom: none;
    
    .sidebar-header {
        background-color: $brand;
        border-bottom: solid $silver;
        color: $white;
    }

    .btn-save {
        background-color: $good-button-green;
        color: $white
    }
}