@import "../../../styles.scss";
.main-content {
    border-top: none;
    border-bottom: none;
    
    .sidebar-header {
        background-color: $brand;
        border-bottom: solid $silver;
        color: $white;
    }

    .btn-save {
        background-color: $good-button-green;
        color: $white
    }

    .drop-text {
        z-index: 1;
        border: solid red;
    }

    .uploaded-image {
        z-index: 1;

        .btn-clear-image {
            background-color: $mean-button-red;
            color: $white;
        }
    }
}