<div class="header h-100 d-flex align-items-center justify-content-center">
    <div style="margin-left: 20px; margin-right: auto;"><app-weather-widget></app-weather-widget></div>
    
    <div class="text-center fs-2">
        Rosemound Cemetery <button type="button" (click)="openModel()" class="btn btn-info"><i class="fa-solid fa-circle-info fs-3"></i></button>
    </div>

    <div style="margin-left: auto; margin-right: 20px;"><button class="btn btn-donate fs-5 p-1" onclick="window.location.href = 'https://app.securegive.com/stjamesuccmn/main/donate/category'">Donate</button></div>
</div>