@import "../../styles.scss";

// Styles for header
.header {
    border-bottom: solid $silver;
    background-color: $off-white;
}

.btn-donate, .btn-donate:focus {
    background-color: $brand;
    color: $white;
    border: none;
}

.btn-donate:hover {
    background-color: $lightgrey;
    color: $brand;
}

.btn-info, .btn-info:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none !important;
}

button:hover {
color: $brand;
border: none;
}

//Styles for popup
.popup-dialog-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-color: $off-white;
    border-radius: 10px;
    border: 2px solid $black;
    width: 750px;
    height: fit-content;
 }
  
.popup-dialog-cont button {
    position:absolute;
    top: 10px;
    right: 20px;
    font-size: xx-large;
    border: 0px;
    background-color: $white;
}
  
.popup-dialog-cont footer {
    bottom: 0px;
    width: 100%;
    background-color: $brand;
    color: $white;
    padding: 10px 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.popup-dialog-cont footer p {
    font-size: small;
}

.popup-dialog-cont footer h2 {
    font-size: x-large;
}

.popup-dialog-cont footer div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popup-dialog-cont .copyright {
    text-align: right;
    bottom: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

.popup-dialog-cont ol {
    margin-top: 10px;
    margin-left: 30px;
}

.popup-dialog-cont li {
    padding-bottom: 5px;
}

.popup-dialog-cont span {
    color: $mean-button-red;
}

.popup-dialog-cont span:hover {
    color: $lightgrey;
}

.popup-dialog-cont a {
    color: $white;
}

.popup-dialog-cont a:hover {
    color: $lightgrey;
}

.popup-dialog-cont button, button:hover, button:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none !important;
}