<div class="container-fluid main-content" *ngIf="plotData && personData">
    <div class="row sidebar-header p-2">
        <p class="text-center lh-base fs-2">{{personData.first_name}} {{personData.last_name}}</p>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-md-7 text-center">
            <p class="fw-bold fs-6">Date of Birth - Death:</p>
            <p>{{formatDateRange(personData.date_of_birth, personData.date_of_death)}}</p>
        </div>
        <div class="col-md-5 text-center">
            <p class="fw-bold fs-6">Date of Burial:</p>
            <p>{{personData.date_of_burial | date:'mediumDate'}}</p>
        </div>
    </div>
    <hr>
    <div class="row mt-1">
        <div class="col-md-12">
            <p class="fw-bold fs-5 obituary-header">Obituary:</p>
            <div *ngIf="portraitImage" class="portrait-image-container">
                <img [src]="portraitImage" class="img-fluid float-md-end me-md-3 portrait-image" alt="Portrait Image">
            </div>
            <p class="fs-6 p-2" [ngStyle]="{'margin-top': portraitImage ? '-25px' : '-5px'}">
                <span style="margin-left: 1em;">{{ personData.obituary.split(' ')[0]}}</span>
                {{personData.obituary.substr(personData.obituary.indexOf(' ') + 1) }}
            </p>
        </div>
    </div>
    <div *ngIf="landscapeImage" class="row mt-2 mb-2 landscape-image-container d-flex justify-content-center w-100">
        <img [src]="landscapeImage" class="img-fluid landscape-image" alt="Landscape Image">
    </div>
</div>