<div class="map-container" [@mapAnimation]="isSidebarCollapsed ? 'collapsed' : 'expanded'">
    <div>
      <button (click)="searchBox.value=''; search(searchBox.value)" class="btn-clear"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
      <input #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" class="search-bar search-box" placeholder="Person's Name"/>
      <button (click)="search(searchBox.value)" class="search-bar btn-search"><i class="fa-solid fa-magnifying-glass fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
    </div>

    <div *ngIf="isSexton" class="plot-status-key position-absolute">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Color</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let status of plotStatusData">
                  <td>{{status.status_name}}</td>
                  <td [ngStyle]="{'background-color': status.color_hex}">&nbsp;</td>
                </tr>
              </tbody>
        </table>
    </div>
    <google-map
        [options]="options" 
        height="100%" 
        width="100%"
    >
        <map-marker
            #mark *ngFor="let plot of plots" 
            [position]="plot" 
            (mapClick)="selectPlot(plot.plotId)" 
            [icon]="plot.icon" 
            label="{{plot.plotName}}"
        >
        </map-marker>
    </google-map>
</div>
  