@import "../../styles.scss";

// Remove blue border on map when active
::ng-deep .gm-style div {
    border: none !important;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .plot-status-key {
        z-index: 1;
        border: solid $silver;
        border-radius: 2px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .google-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg); // Rotate the map
        transform-origin: top left;
    }
}

.search-bar {
    position: absolute;
    right: 20px;
    top: 20px;
}

.btn-search-toggle {
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 6;
}

.btn-clear {
    position: absolute;
    z-index: 6;
    right: 229px;
    top: 20px;
    background-color: $brand;
    color: $white;
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style:solid;
    border-color: transparent;
    z-index: 6;
}

.btn-clear:hover {
    background-color: $lightgrey;
    color: $brand;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.btn-clear-disabled, .btn-clear-disabled:hover, .btn-clear-disabled:focus {
    position: absolute;
    z-index: 6;
    right: 229px;
    top: 20px;
    background-color: $lightgrey;
    color: $white;
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style:solid;
    border-color: transparent;
    z-index: 6;
}

.btn-search, .btn-search:focus {
    background-color: $brand;
    color: $white;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style:solid;
    border-color: transparent;
    z-index: 6;
}

.btn-filter-property-selected, .btn-filter-property-selected:focus {
    background-color: $brand;
    color: $white;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.btn-filter-property-selected:hover {
    background-color: $brand;
    color: $white;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.btn-filter-property-unselected, .btn-filter-property-unselected:focus {
    background-color: $lightgrey;
    color: $brand;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.btn-filter-property-unselected:hover {
    background-color: $lightgrey;
    color: $white;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.btn-search:hover {
    background-color: $lightgrey;
    color: $brand;
    border-left: none;
    border-style:solid;
    border-color: transparent;
}

.search-box {
    // border-radius: 5px;
    z-index: 5;
    
    //
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    //

    border-color: transparent;
    padding-left: 4px;
    border-style: solid;
    // outline-color: $white;
    outline: none;
}

li {
    list-style-type: none;
  }
  .search-result li a {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background: #435A60;
  }
  
  .search-result li a:hover {
    background-color: #435A60;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }

  .multistate-text {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15.3px;
  }
