<a wheel type="text">
  <div class="map-container" [@mapAnimation]="isSidebarCollapsed ? 'collapsed' : 'expanded'">
    <div *ngIf="filterProperty === personFilter">
      <button *ngIf="isClearable;" (click)="searchBox.value=''; refreshMap(searchBox.value); isClearable = false;" class="btn-clear"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
      <button *ngIf="!isClearable;" class="btn-clear-disabled"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
      <input #searchBox id="search-box" (input)="searchBox.value==='' ? setClearButtonReset(false) : isClearable = true" (keyup.enter)="refreshMap(searchBox.value)" class="search-bar search-box" placeholder="{{personFilter}}"/>
      <button (click)="refreshMap(searchBox.value)" class="search-bar btn-search"><i class="fa-solid fa-magnifying-glass fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
    </div>

    <div *ngIf="isSexton && plotStatusData">
      <div *ngIf="filterProperty === identifierFilter">
        <button *ngIf="isClearable;" (click)="searchBox.value=''; refreshMap(searchBox.value); isClearable = false;" class="btn-clear"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
        <button *ngIf="!isClearable;" class="btn-clear-disabled"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
        <input #searchBox id="search-box" (input)="searchBox.value==='' ? setClearButtonReset(false) : isClearable = true" (keyup.enter)="refreshMap(searchBox.value)" class="search-bar search-box" placeholder="{{identifierFilter}}"/>
        <button (click)="refreshMap(searchBox.value)" class="search-bar btn-search"><i class="fa-solid fa-magnifying-glass fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
      </div>

      <div *ngIf="filterProperty === statusFilter">
        <button (click)="refreshMap(''); isClearable = false; filterProperty = personFilter;" class="btn-clear"><i class="fa-solid fa-trash-can fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>        <input #searchBox readonly id="search-box" (input)="searchBox.value==='' ? setClearButtonReset(false) : isClearable = true" (keyup.enter)="refreshMap(searchBox.value)" class="search-bar search-box" placeholder="{{statusFilter}}"/>
        <input #searchBox readonly id="search-box" (input)="searchBox.value==='' ? setClearButtonReset(false) : isClearable = true" (keyup.enter)="refreshMap(searchBox.value)" class="search-bar search-box" placeholder="{{statusFilter}}"/>
        <button class="search-bar btn-search-disabled"><i class="fa-solid fa-magnifying-glass fs-6" style="padding-left: 4px; padding-right: 4px;"></i></button>
      </div>

      <div class="btn-group btn-search-toggle" role="group" aria-label="Basic example">
        <button *ngIf="filterProperty !== personFilter" type="button" class="btn btn-filter-property-unselected" (click)="filterProperty = personFilter; isClearable = false; refreshMap('');"><p class="multistate-text">Person's Name</p></button>
        <button *ngIf="filterProperty === personFilter" type="button" class="btn btn-filter-property-selected"><p class="multistate-text">Person's Name</p></button>
  
        <button *ngIf="filterProperty !== identifierFilter" type="button" class="btn btn-filter-property-unselected" (click)="filterProperty = identifierFilter; isClearable = false; refreshMap('');"><p class="multistate-text">Plot Identifier</p></button>
        <button *ngIf="filterProperty === identifierFilter" type="button" class="btn btn-filter-property-selected"><p class="multistate-text">Plot Identifier</p></button>
      </div>
    </div>

    <div *ngIf="isSexton" class="plot-status-key position-absolute">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Color</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let status of plotStatusData">
                  <td>{{status.status_name}}</td>
                  <td [ngStyle]="{'background-color': status.color_hex, 'cursor': 'pointer'}" (click)="filterProperty = statusFilter; refreshMap(status.status_id)">&nbsp;</td>
                </tr>
              </tbody>
        </table>
    </div>
    <a>
      <google-map
        mapId="gmsmap"
        [options]="options" 
        height="100%" 
        width="100%"
    >

        <map-advanced-marker
            #mark *ngFor="let plot of plots; let i = index" 
            [position]="plot" 
            (mapClick)="selectPlot(plot.plotId, i)" 
            [content]="i === selectedPlotIndex ? plotIcon(plot.plotColor, i === selectedPlotIndex, 1, nameList[i]) : plot.icon"
        >
        </map-advanced-marker>
    </google-map>
  </a>
</div>
</a>