@import "../../styles.scss";
.sidebar {
    width: $sidebar-width;
    background-color: $off-white;
    height: calc(100vh - $header-height);
    max-height: calc(100vh - $header-height);
    max-width: $sidebar-width;
    overflow-x: hidden;
}