/* Import for Poppins font & icons */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,200;1,300;1,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Variables */
// Colors
$white: #FFFFFF;
$black: #000000;
$off-white: #F4F4F4;
$baby-blue: #5AF;
$brand: #9E2A2B;
$silver: #C0C0C0;
$mean-button-red: #9E2A2B;
$good-button-green: #04A777;
$lightgrey: lightgrey;
$clouds: #A8A8A8;
$moon: grey;
$sun: #FEDD00;
$snowflake: #D1CFCF;
$loginBrandHover: #7B2829;
$loginInputBackground: #CCC;
$loginWhite: #F8F9FA;
$blue-grey: #404E5C;
$somewhat-okay-button-yellow: #FAC05E;

// Sizing
$header-height: 75px;
$sidebar-width: 35vw; // When changing this value, you will need to update app.component.ts and map.component.ts animations

// Statuses
$opacity-disabled: 0.5